# Ignore dependencies
node_modules/

# Ignore environment variables
.env

# Ignore build files
frontend/dist/
backend/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
